
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  font-family: 'Cormorant Garamond';
  font-size: 1.3rem;
}

.icon-link {
  margin-right: 10px;
  color: #f9f6f4;
   /* Couleur par défaut des icônes */
  transition: color 0.3s ease; /* Transition de couleur au survol */
  font-size: 1.8rem;
  margin: 1rem;
}

.icon-link:hover {
  color: #9f7a56;
   /* Couleur au survol */
}

/* .active-link {
  background: #9f7a56 !important;
  font-weight: bold;
  text-decoration: underline;
} */

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.custom-menu-item.ant-menu-item-selected {
  background-color: #9f7a56; /* Remplacez cette couleur par celle de votre choix */
  transition: background-color 0.8s ease-in-out; /* Transition de 0.5 seconde avec une fonction d'interpolation ease-in-out */
}


.text-animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.langage-icons-container {
  display: flex;
  justify-content: center;
}

.bouton-apropos-container {
  margin-top: 20px; /* Ajoute un espace au-dessus du bouton */
}

/* HOME */

/* style steps */

/* custom.css */

/* Couleur des étapes en cours */
.ant-steps-item-process .ant-steps-item-icon {
  background-color: #4d3b2b !important; /* couleur personnalisée */
  border-color: #4d3b2b !important; /* Bordure avec la même couleur */
}

/* Couleur de fond des étapes */
.ant-steps-item:not(.ant-steps-item-process) .ant-steps-item-icon {
  background-color: #c9ad94 !important; /* Nuance plus claire */
  border-color: #c9ad94 !important; /* Bordure avec la même couleur */
  
}



/* Largeur de l'icône des étapes */
.ant-steps-item-icon {
  width: rem; /* Taille personnalisée */
  height: 5rem; /* Taille personnalisée */
  line-height: 5rem; /* Centrage vertical */
  background-color: #f3f1ef;
}

/* Style de la bordure des étapes */
.ant-steps-item-icon {
  border-radius: 50%; /* Bordure arrondie pour créer un cercle */
  border-width: 2px; /* Largeur de la bordure */
  border-style: solid; /* Style de la bordure */
  color: #f4f2f1 !important;
  
}


/* custom.css */

/* Couleur de survol des boutons */
.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: #895629 !important; /* Nuance plus claire pour le survol */
  border-color: #bfa288 !important; /* Couleur de la bordure */
}

/* Couleur de survol des boutons secondaires */
.ant-btn:hover,
.ant-btn:focus {
  background-color: #895629 !important; /* Nuance plus claire pour le survol */
  color: #f4f0ee !important; /* Couleur de la bordure */
  border: #7b5b3e !important;
}


/* custom.css */

/* Couleur de l'icône à l'intérieur des cercles des étapes */
.ant-steps-item-icon .ant-steps-icon {
  color: #e8e3df !important; /* Votre couleur personnalisée */
  font-family: 2rem !important;
}

/* Couleur du trait qui relie les étapes */
.ant-steps-item-tail {
  background-color: #7b5b3e !important; /* Votre couleur personnalisée */
}


/* Couleur du trait qui relie les étapes */
.ant-steps-item-tail::after {
  background-color: #7b5b3e !important; /* Votre couleur personnalisée */
}

.ant-steps-item-title::after {
  background-color: #7b5b3e !important;
}
/* Couleur de survol des boutons de danger */
/* .ant-btn-danger:hover,
.ant-btn-danger:focus {
  background-color: #61050a !important; 
  border-color: #660308 !important; 
} */
